
<ion-navbar hideBackButton *navbar class="show-navbar">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons start>
    <button royal>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Hello Ionic</ion-title>
  <ion-buttons end>
    <button royal>
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>



<ion-content  class="has-header components-demo cards-bg">


  <h1>Welcome {{username}}</h1>
  <button type="button" class="custom-button" block (click)="logout()">Log Out</button>


<button fab primary fab-bottom fab-right>
      <ion-icon name='add'></ion-icon>
    </button>

<ion-card>

    <img src="img/nin-live.png"/>

    <ion-card-content>
      <h2 class="card-title">
        Nine Inch Nails Live
      </h2>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button clear small danger>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button clear small danger>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small danger>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/badu-live.png"/>
    </div>

    <ion-card-content>
      <h2 class="card-title">
        Erykah Badu
      </h2>
      <p>
      American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of neo-soul.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button clear small danger>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button clear small danger>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small danger>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/queen-live.png"/>
    </div>

    <ion-card-content>
      <h2 class="card-title">
        Queen
      </h2>
      <p>
        The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in the world.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button clear small danger>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button clear small danger>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small danger>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/rundmc-live.png"/>
    </div>

    <ion-card-content>
      <h2 class="card-title">
        Run-D.M.C.
      </h2>
      <p>
        The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button clear small danger>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button clear small danger>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button clear small danger>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>


